# node 组件
node_modules

.idea

.dist

.turbo
/apps/web-antd/dist
/apps/web-antd/dist.zip
/packages/@core/ui-kit/popup-ui/dist
/packages/@core/base/design/dist
/packages/@core/ui-kit/form-ui/dist
/packages/@core/base/typings/dist
/packages/@core/base/icons/dist
/packages/@core/composables/dist
/packages/@core/ui-kit/layout-ui/dist
/packages/@core/ui-kit/menu-ui/dist
/packages/@core/ui-kit/tabs-ui/dist
